
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading">Manage Paper</div>
    <div class="panel-body">
        <div class="row">
            <div class="add-data-bnt"><button type="button" class="btn btn-primary" id="add_data" onclick="Paper.Register();"><i class="glyphicon glyphicon-plus"></i>  เพิ่มข้อมูล</button></div>
        </div>

        <table id="example" class="display" cellspacing="0">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Type Paper</th>
                    <th>GSM</th>
                    <th>Width</th>
                    <th>Length</th>
                    <th>Sheets/Pack</th>
                    <th>Price/Pack</th>
                    <th>Price/Sheet</th>
                    <th>แก้ไข / ลบ</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        table = $('#example').dataTable({
            "processing": true,
            "serverSide": true,
            "responsive": true,
            "order": [[ 0, "desc" ]],
            ajax: {
                url: '/StockPaper/LoadPaper',
                type: 'POST',
            },
            "fnInitComplete": function (oSettings, json) {
            }
        });
    });
</script>


